.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
}

.tooltip .top {
    text-align:left;
    min-width:300px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#FFF;
    background-color:#FF9015;
    font-weight:normal;
    font-size:1em;
    border-radius:8px;
    position:absolute;
    z-index:11;
    box-sizing:border-box;
    border:0.2em solid black;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .top {
    visibility:visible; opacity:1;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#FF9015;
    border:1px solid black;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}